// Primary colors

$Text: #323232; // Black
$Text-dark: #000000; // Dark Black
$Background-dark: #1D3557; // Blue
$Light: #F1FAEE; // Light
$RED: #E63946; // TO CHANGE
$LIGHT-BLUE: #A8DADC; // TO CHANGE
$BLUE-MEDIUM: #457B9D; //TO CHANGE