// Primary colors

$Text-dark: #000000; // Dark Black
$Background-dark: #14213D; // dark-blue
$Light: #F1FAEE; // Light
$Text-background-hover: #457B9D; // blue

// Secondary colors
$Background-button: #E63946; // red
$Background-button-light: #A8DADC; // light blue
$Subtitle-border: #FCA311; // yellow