@use "../../styles/partials/fonts";
@use "../../styles/partials/colors" as *;

.homepage {

    background: url(../../assets/images/road-to-knowledge.svg);
    background-repeat: no-repeat;
    background-size: 48%;
    background-position: right -2% bottom 60%;
    height: 43.75rem;
    width: 100%;

    &__content-container {
        display: flex;
        flex-direction: column;
    }

    &__container {
        display: flex;
        align-items: center;
        padding-left: 2rem;
    }

    &__header {
        font-size: 2rem;
        color: $Subtitle-border;
        padding: 1.7rem 0;
    }

    &__content {
        font-size: 1.75rem;
        color: $Text-background-hover;
        width: 40%;
        margin: 0;
        padding: 0.5rem;
    }

    &__image {
        width: 13%;
        max-width: 15%;
        height: auto;
    } 
}