@use "../../styles/partials/fonts";
@use "../../styles/partials/colors" as *;

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: $Background-dark;
    padding: 0 1rem;
    
    &__left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 35rem;
    }

    &__logo-link {
        text-decoration: none;
        color: $Light;
        font-size: 22px;
    }

    &__title-link {
        text-decoration: none;
        color: $Light;
        font-size: 1.375rem;
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 16rem;
    }

    &__login {
        background-color: $LIGHT-BLUE;
        border-radius: 1.25rem;
        border: 1px dotted $Light;
        width: 40%;
        height: 50%;
        font-family: 'Dosis';
        font-size: 19px;

        &:hover {
            background-color: $BLUE-MEDIUM;
            cursor: pointer;
        }
    }
    
    &__signUp {
        background-color: $RED;
        border-radius: 1.25rem;
        border: 1px dotted $Light;
        width: 40%;
        height: 50%;
        font-family: 'Dosis';
        font-size: 19px;

        &:hover {
            cursor: pointer;
            background-color: lightcoral;
        }
    }
}