@use "../../styles/partials/fonts";
@use "../../styles/partials/colors" as *;

.signup {
    padding: 1rem;

    &__header {
        text-align: center;
        color: $RED;
    }

    &__form-fields {
        display: flex;
        flex-direction: column;
    }

    &__label {
        padding: .4rem 0;
        font-size: 1.2rem;
    }

    &__input {
        padding: .7rem;
        height: 2.4rem;
        max-height: 2.4rem;
        width: 60%;
        border-radius: 1.2rem;
        border: 1px dotted ;
        
    }
}